{% extends "layout.html" %}
{% block title %}Home{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}
<div class="container">
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
    {% if category == "success" %}
    <div class="alert alert-success alert-dismissible">
        {{ message }} <button type="button" class="btn-close" data-dismiss="alert" aria-label="Close"></button>
    </div>
    {% else %}
    <div class="alert alert-danger alert-dismissible">
        {{ message }} <button type="button" class="btn-close" data-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endif %}
    {% endfor %}
    {% endif %}
    {% endwith %}
    <div class="row justify-content-center">
        <div class="col-md-10">
            <div class="card align-self-center">
                <div class="card-header">Colecciones</div>
                <div class="card-body">
                    <table class="table">
                        <thead class="thead-light">
                            <tr>
                                <th class="col-md-3">
                                    Nombre
                                </th>
                                <th class="col-md-3">
                                    Fecha de lanzamiento
                                </th>
                                <th class="col-md-3">
                                    Fecha de entrega
                                </th>
                                <th class="col-md-3">
                                    Modelos
                                </th>
                                <th class="col-md-3">
                                    Reservas
                                </th>
                                <th class="col-md-3">
                                    Reprogramación
                                </th>
                                <th class="col-md-3">
                                    Fabricación
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for coleccion in current_user.colecciones %}
                            <tr>
                                <td class="col-md-3">
                                    {{coleccion.name}}
                                </td>
                                <td class="col-md-3">
                                    {{coleccion.fecha_lanzamiento.strftime('%d-%m-%Y')}}
                                </td>
                                <td class="col-md-3">
                                    {{coleccion.fecha_entrega.strftime('%d-%m-%Y')}}
                                </td>
                                <td class="col-md-3">
                                    <button type="button" class="btn-sm btn-primary" data-toggle="modal"
                                        data-target="#modelosModal{{coleccion.id}}">
                                        Ver
                                    </button>

                                    <div class="modal fade" id="modelosModal{{coleccion.id}}" tabindex="-1"
                                        role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLabel">Modelos de la
                                                        coleccion {{coleccion.name}}</h5>
                                                    <button type="button" class="close" data-dismiss="modal"
                                                        aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <table class="table">
                                                        <thead>
                                                            <tr>
                                                                <th scope="col">Nombre</th>
                                                                <th scope="col">Descripción</th>
                                                                <th scope="col">Tipo</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            {% for modelo in coleccion.coleccion_tiene_modelo %}
                                                            <tr>
                                                                <td>{{modelo.name}}</td>
                                                                <td>{{modelo.descripcion}}</td>
                                                                <td>{{modelo.tipo.name}}</td>
                                                            </tr>
                                                            {% endfor %}
                                                        </tbody>
                                                    </table>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary"
                                                        data-dismiss="modal">Close</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                {% if session["current_rol"] == "Operaciones" %}
                                {% if "Consulta de materiales a la API" in coleccion.get_ready_tasks(coleccion.case_id)
                                %}
                                <td class="col-md-3">
                                    <a class="btn btn-primary"
                                        href="{{ url_for('seleccionar_materiales', id_coleccion=coleccion.id) }}">Seleccionar
                                        materiales</a>
                                </td>
                                {% elif "Consultar espacio de fabricación" in coleccion.get_ready_tasks(coleccion.case_id) %}
                                <td class="col-md-3">
                                    <a class="btn btn-primary"
                                        href="{{ url_for('seleccionar_espacio', id_coleccion=coleccion.id) }}">Seleccionar espacio de fabricación</a>
                                </td>
                                {% elif coleccion.get_completed_tasks_by_name(coleccion.case_id, "Reservar espacio de fabricación") and "Elaborar plan de fabricación" not in coleccion.get_ready_tasks(coleccion.case_id) %}
                                <td class="col-md-3">
                                    <a class="btn btn-success"
                                        href="{{ url_for('recibir_materiales', id_coleccion=coleccion.id) }}">Marcar materiales como recibidos</a>
                                </td>
                                {% else %}
                                <td class="col-md-3"> Nada que hacer...</td>
                                {% endif %}
                                {% else %}
                                <td class="col-md-3">
                                    No tienes permisos para manejar las reservas.
                                </td>
                                {% endif %}

                                {% if session["current_rol"] == "Creativa" %}
                                <td> <a class="btn btn-danger"
                                        href="{{ url_for('reprogramar_coleccion', id_coleccion=coleccion.id) }}">Reprogramar
                                        Colección</a> </td>
                                {% else %}
                                <td class="col-md-3"> No tienes permisos para reprogramar. </td>
                                {% endif %}
                                
                                {% if session["current_rol"] == "Operaciones" %}
                                {% if "Elaborar plan de fabricación" in coleccion.get_ready_tasks(coleccion.case_id) %}
                                <td class="col-md-3">
                                    <a class="btn btn-primary"
                                        href="">Elaborar plan de fabricación</a>
                                </td>
                                {% else %}
                                <td class="col-md-3"> Nada que hacer...</td>
                                {% endif %}
                                {% else %}
                                <td class="col-md-3">
                                    No tienes permisos para administrar la fabricación.
                                </td>
                                {% endif %}
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <br>
        {% if session["current_rol"] == "Creativa" %}
        <div class="col-md-10 justify-content-center">
            <a class="btn btn-primary" href="{{ url_for('nueva_coleccion') }}" role="button">Crear colección</a>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}