{% extends "layout.html" %}
{% block title %}Home{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}
<div class="card">
    <div class="card-body">
      {% with messages = get_flashed_messages() %} {% if messages %}
      <div class="alert alert-success alert-dismissible">
          {{ messages[0] }}
      </div>
      {% endif %} {% endwith %}
      <h2>Acá iría un listado de colecciones si sos user común (por el momento que solo diga el nombre y la fecha)</h2>
      <a class="btn btn-primary" href="{{ url_for('nueva_coleccion') }}" role="button">Crear colección</a>
    </div>
  </div>
{% endblock %}