{% extends "layout.html" %}
{% block title %}Home{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}
<div class="card">
    <div class="card-body">
        <h2>Acá iría un listado de colecciones si sos user común (por el momento que solo diga el nombre y la fecha)</h2>
        <h2>Si sos admin va un listado de usuarios con un botón para crear uno nuevo</h2>
        <a class="btn btn-primary" href="{{ url_for('nueva_coleccion') }}" role="button">Crear colección</a>
    </div>
  </div>
{% endblock %}